## DataTypes

Data types are a classification of data that tells the compiler or interpreter how the programmer intend to use the data

They determne the type of operations that can be perform on the data, the values that the data can take, and amount of memory needed to store the data

## 2. Importance of Data Types in Programming
Explanation:
#. Data types ensure that data is stored in a efficient way
#. They help in performing correct operations on data
#. Proper use of data types can prevent errors and bugs in the programm

In [1]:
print("Hello")

Hello

In [1]:
print("Rhoda Doodo Drand")

Rhoda Doodo Drand

In [2]:
## Intergers

age = 35
type(age)

int

In [3]:
## Floating point datatypes
height = 3.47
type(height)

float

In [4]:
## string datatypes
name = "Charis"
print(name)
type(name)

Charis

str

In [5]:
## Boolean datatype

is_brilliant = True
type(is_brilliant)

bool

In [6]:
a = 10
b = 10 

a==b

True

In [7]:
type(a==b)

bool

In [8]:
## Common errors we make

result = "50" + 6

TypeError: can only concatenate str (not "int") to str

In [2]:
result = "50" + str(6)
print(result)
type(result)

506

str