In [2]:
## Creating a Turple

empty_turple = ()
print(empty_turple)
print(type(empty_turple))

()
<class 'tuple'>

In [1]:
lst=list()
print(type(lst))

tpl= tuple()
type(tpl)

<class 'list'>

tuple

In [3]:
numbers = tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [5]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [6]:
mixed_tpl = (1,3,"hello",3.56, True)

mixed_tpl

(1, 3, 'hello', 3.56, True)

In [7]:
## Accessing Tuple Elements
numbers

(1, 2, 3, 4, 5, 6)

In [14]:
print(numbers[1])
print(numbers[:3])
print(numbers[0])
print(numbers[-1])
print(numbers[::-1])

2
(1, 2, 3)
1
6
(6, 5, 4, 3, 2, 1)

In [16]:
# Tuple Operations

mixed_tpl + numbers

(1, 3, 'hello', 3.56, True, 1, 2, 3, 4, 5, 6)

In [17]:
(mixed_tpl)*3

(1,
 3,
 'hello',
 3.56,
 True,
 1,
 3,
 'hello',
 3.56,
 True,
 1,
 3,
 'hello',
 3.56,
 True)

In [18]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [21]:
# Immutable nature of Tuple
# 1. Tuple are immutable, meaning their numbers cannot be changed once assigned

lst = [1,2,3,4,5,6]
lst

[1, 2, 3, 4, 5, 6]

In [23]:
lst[1] = "Charis"
lst

[1, 'Charis', 3, 4, 5, 6]

In [24]:
numbers

(1, 2, 3, 4, 5, 6)

In [25]:
numbers[1] = "Erastus"
numbers

TypeError: 'tuple' object does not support item assignment

In [ ]:
## Tuple Methods

print(numbers.count(1))     # The count method: shows the number of an element in a tuple
print(numbers.index(5))     # The index method: shows the index of an element in a tuple

1
4

In [33]:
# Packing and Unpacking Tuple
packed_tpl = 1, 3, 5,"James"
packed_tpl

(1, 3, 5, 'James')

In [35]:
a,b,c,d = packed_tpl
print(a)
print(b)
print(c)
print(d)

1
3
5
James

In [39]:
# Unpacking with *
numbers = (1,3,4,5,5,6,7,8)
first,*middle,last = numbers

print(first)
print(middle)
print(last)

1
[3, 4, 5, 5, 6, 7]
8

In [43]:
# Nested Tuple
# Example of Nested List

lst = [[1,2,3],[5,6,7,8],("Charis",21,3.45,"A")]
lst[2][:-1]

('Charis', 21, 3.45)

In [44]:
nested_tpl = ((1,2,3),("a","b","c"),(True,False))

# Accessing element in Tuple
print(nested_tpl[1][2])

c

In [45]:
#Iterating over nested Tuple

for sub_tpl in nested_tpl:
    for item in sub_tpl:
        print(item,end="")
    print()

123
abc
TrueFalse